<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BomurSmash</key>
	<dict>
		<key>specialty</key>
		<string>Lunge</string>
		<key>cooldown</key>
		<integer>10</integer>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>Engaged</string>
			</dict>
		</array>
		<key>sounds</key>
		<array/>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Permanent</string>
				<key>behavior</key>
				<string>Instant</string>
				<key>amount</key>
				<integer>-10</integer>
				<key>attribute</key>
				<string>HitPoints</string>
			</dict>
		</array>
		<key>delayBetweenUsage</key>
		<integer>2</integer>
		<key>range</key>
		<integer>55</integer>
		<key>animation</key>
		<dict>
			<key>triggerPoint</key>
			<real>0.7</real>
			<key>keyBack</key>
			<integer>8</integer>
			<key>keyFront</key>
			<integer>7</integer>
		</dict>
		<key>behavior</key>
		<string>Instant</string>
		<key>iconDesc</key>
		<string>Smash!</string>
		<key>iconName</key>
		<string>icon_MeleeAttack.png</string>
	</dict>
	<key>Flee</key>
	<dict>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>Engaged</string>
			</dict>
		</array>
		<key>sounds</key>
		<array>
			<dict>
				<key>frequency</key>
				<integer>1</integer>
				<key>volumeModifier</key>
				<integer>0</integer>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>Acknowledged</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>flee </string>
			</dict>
		</array>
		<key>target</key>
		<string>Myself</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>-1000</integer>
				<key>attribute</key>
				<string>Morale</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>10</integer>
		<key>behavior</key>
		<string>Instant</string>
		<key>iconDesc</key>
		<string>Flee</string>
		<key>iconName</key>
		<string>icon_Flee.png</string>
	</dict>
	<key>Charge</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>frequency</key>
				<integer>1</integer>
				<key>volumeModifier</key>
				<integer>0</integer>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>wav</string>
				<key>mark</key>
				<string>Acknowledged</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>Charge </string>
			</dict>
		</array>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>EngagingTargetRange</string>
				<key>range</key>
				<integer>600</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>Engaging</string>
			</dict>
		</array>
		<key>target</key>
		<string>Myself</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>target</key>
				<string>CombatTarget</string>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>10</integer>
				<key>amount</key>
				<integer>-30</integer>
				<key>attribute</key>
				<string>Morale</string>
			</dict>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>10</integer>
				<key>amount</key>
				<integer>5</integer>
				<key>attribute</key>
				<string>Strength</string>
			</dict>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>10</integer>
				<key>amount</key>
				<integer>40</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>10</integer>
		<key>behavior</key>
		<string>Instant</string>
		<key>iconDesc</key>
		<string>Charge</string>
		<key>iconName</key>
		<string>icon_Charge.png</string>
	</dict>
	<key>Haste</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<real>-0.4</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>Success</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>SpellAir</string>
			</dict>
		</array>
		<key>particles</key>
		<array>
			<dict>
				<key>mark</key>
				<string>Success</string>
				<key>fileName</key>
				<string>particle_Haste</string>
			</dict>
		</array>
		<key>target</key>
		<string>Friendly</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>50</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>3</integer>
		<key>behavior</key>
		<string>Spell</string>
		<key>iconDesc</key>
		<string>Haste</string>
		<key>iconName</key>
		<string>stat_walkingspeed.png</string>
	</dict>
	<key>Rally</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<real>-0.4</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>Success</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>SpellAir</string>
			</dict>
		</array>
		<key>particles</key>
		<array>
			<dict>
				<key>mark</key>
				<string>Success</string>
				<key>fileName</key>
				<string>particle_Haste</string>
			</dict>
		</array>
		<key>target</key>
		<string>Friendly</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>50</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>3</integer>
		<key>behavior</key>
		<string>Spell</string>
		<key>iconDesc</key>
		<string>Rally</string>
		<key>iconName</key>
		<string>icon_Rally.png</string>
	</dict>
	<key>Lightning</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<real>-0.4</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>Success</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>SpellAir</string>
			</dict>
		</array>
		<key>particles</key>
		<array>
			<dict>
				<key>mark</key>
				<string>Success</string>
				<key>fileName</key>
				<string>particle_Haste</string>
			</dict>
		</array>
		<key>target</key>
		<string>Friendly</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>50</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>3</integer>
		<key>behavior</key>
		<string>Spell</string>
		<key>iconDesc</key>
		<string>Lightning</string>
		<key>iconName</key>
		<string>icon_Lightning.png</string>
	</dict>
	<key>Heal</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<real>-0.4</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>Success</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>SpellAir</string>
			</dict>
		</array>
		<key>particles</key>
		<array>
			<dict>
				<key>mark</key>
				<string>Success</string>
				<key>fileName</key>
				<string>particle_Haste</string>
			</dict>
		</array>
		<key>target</key>
		<string>Friendly</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>50</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>3</integer>
		<key>behavior</key>
		<string>Spell</string>
		<key>iconDesc</key>
		<string>Heal</string>
		<key>iconName</key>
		<string>icon_Heal.png</string>
	</dict>
	<key>Watch</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<real>-0.4</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>Success</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>SpellAir</string>
			</dict>
		</array>
		<key>particles</key>
		<array>
			<dict>
				<key>mark</key>
				<string>Success</string>
				<key>fileName</key>
				<string>particle_Haste</string>
			</dict>
		</array>
		<key>target</key>
		<string>Friendly</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>50</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>3</integer>
		<key>behavior</key>
		<string>Spell</string>
		<key>iconDesc</key>
		<string>Watch</string>
		<key>iconName</key>
		<string>icon_Watch.png</string>
	</dict>
	<key>RockAoE</key>
	<dict>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<integer>0</integer>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>wav</string>
				<key>mark</key>
				<string>PreAnimation</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>impact</string>
			</dict>
		</array>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Permanent</string>
				<key>behavior</key>
				<string>Instant</string>
				<key>amount</key>
				<integer>-50</integer>
				<key>attribute</key>
				<string>HitPoints</string>
			</dict>
		</array>
		<key>range</key>
		<integer>100</integer>
		<key>behavior</key>
		<string>AoE</string>
	</dict>
	<key>Launch</key>
	<dict>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>NotInCombat</string>
			</dict>
		</array>
		<key>sounds</key>
		<array>
			<dict>
				<key>volumeModifier</key>
				<real>-0.2</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>PreAnimation</string>
				<key>count</key>
				<integer>2</integer>
				<key>fileName</key>
				<string>Catapult </string>
			</dict>
		</array>
		<key>accuracy</key>
		<integer>3</integer>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Permanent</string>
				<key>behavior</key>
				<string>Instant</string>
				<key>amount</key>
				<integer>-100</integer>
				<key>attribute</key>
				<string>HitPoints</string>
			</dict>
		</array>
		<key>delayBetweenUsage</key>
		<integer>7</integer>
		<key>range</key>
		<real>2000</real>
		<key>iconName</key>
		<string>icon_RangedAttack.png</string>
		<key>iconDesc</key>
		<string>Launch</string>
		<key>behavior</key>
		<string>Ranged</string>
		<key>animation</key>
		<dict>
			<key>triggerPoint</key>
			<real>0.8</real>
			<key>keyBack</key>
			<integer>4</integer>
			<key>keyFront</key>
			<integer>3</integer>
		</dict>
		<key>projectile</key>
		<dict>
			<key>ability</key>
			<string>RockAoE</string>
			<key>name</key>
			<string>Rocks</string>
			<key>physics</key>
			<true/>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>263</integer>
			<key>velocity</key>
			<integer>500</integer>
			<key>reloadTime</key>
			<integer>5</integer>
			<key>lift</key>
			<integer>4</integer>
			<key>bounce</key>
			<integer>-1</integer>
			<key>shadow</key>
			<true/>
		</dict>
	</dict>
	<key>Shoot</key>
	<dict>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>NotInCombat</string>
			</dict>
		</array>
		<key>sounds</key>
		<array>
			<dict>
				<key>frequency</key>
				<integer>2</integer>
				<key>volumeModifier</key>
				<integer>0</integer>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>wav</string>
				<key>mark</key>
				<string>Acknowledged</string>
				<key>count</key>
				<integer>4</integer>
				<key>fileName</key>
				<string>Told To Attack </string>
			</dict>
			<dict>
				<key>volumeModifier</key>
				<real>0.3</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>wav</string>
				<key>mark</key>
				<string>AnimationTriggerPoint</string>
				<key>count</key>
				<integer>1</integer>
				<key>fileName</key>
				<string>Bow</string>
			</dict>
		</array>
		<key>accuracy</key>
		<integer>8</integer>
		<key>modifiers</key>
		<array>
			<dict>
				<key>combatAttribute</key>
				<integer>1</integer>
				<key>modification</key>
				<string>Permanent</string>
				<key>behavior</key>
				<string>Instant</string>
				<key>amount</key>
				<integer>-10</integer>
				<key>attribute</key>
				<string>HitPoints</string>
			</dict>
		</array>
		<key>delayBetweenUsage</key>
		<integer>3</integer>
		<key>range</key>
		<integer>800</integer>
		<key>iconName</key>
		<string>icon_RangedAttack.png</string>
		<key>iconDesc</key>
		<string>Shoot</string>
		<key>behavior</key>
		<string>Ranged</string>
		<key>animation</key>
		<dict>
			<key>triggerPoint</key>
			<real>0.7</real>
			<key>keyBack</key>
			<integer>4</integer>
			<key>keyFront</key>
			<integer>3</integer>
		</dict>
		<key>projectile</key>
		<dict>
			<key>name</key>
			<string>Arrow</string>
			<key>physics</key>
			<false/>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>50</integer>
			<key>velocity</key>
			<integer>600</integer>
			<key>reloadTime</key>
			<real>0.2</real>
			<key>lift</key>
			<real>0.25</real>
			<key>bounce</key>
			<integer>-1</integer>
			<key>shadow</key>
			<false/>
		</dict>
	</dict>
	<key>Attack</key>
	<dict>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>NotInCombat</string>
			</dict>
		</array>
		<key>sounds</key>
		<array>
			<dict>
				<key>frequency</key>
				<integer>2</integer>
				<key>volumeModifier</key>
				<integer>0</integer>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>wav</string>
				<key>mark</key>
				<string>Acknowledged</string>
				<key>count</key>
				<integer>4</integer>
				<key>fileName</key>
				<string>Told To Attack </string>
			</dict>
			<dict>
				<key>volumeModifier</key>
				<real>-0.5</real>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>mp3</string>
				<key>mark</key>
				<string>AnimationTriggerPoint</string>
				<key>count</key>
				<integer>5</integer>
				<key>fileName</key>
				<string>Sword </string>
			</dict>
		</array>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Permanent</string>
				<key>behavior</key>
				<string>Instant</string>
				<key>amount</key>
				<integer>-10</integer>
				<key>attribute</key>
				<string>HitPoints</string>
			</dict>
		</array>
		<key>delayBetweenUsage</key>
		<integer>2</integer>
		<key>range</key>
		<integer>55</integer>
		<key>animation</key>
		<dict>
			<key>triggerPoint</key>
			<real>0.7</real>
			<key>keyBack</key>
			<integer>4</integer>
			<key>keyFront</key>
			<integer>3</integer>
		</dict>
		<key>behavior</key>
		<string>Melee</string>
		<key>iconDesc</key>
		<string>Attack</string>
		<key>iconName</key>
		<string>icon_MeleeAttack.png</string>
	</dict>
	<key>Sprint</key>
	<dict>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>Moving</string>
			</dict>
		</array>
		<key>target</key>
		<string>Myself</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modification</key>
				<string>Temporary</string>
				<key>behavior</key>
				<string>Duration</string>
				<key>duration</key>
				<integer>5</integer>
				<key>amount</key>
				<integer>30</integer>
				<key>attribute</key>
				<string>WalkingSpeed</string>
			</dict>
		</array>
		<key>cooldown</key>
		<integer>3</integer>
		<key>behavior</key>
		<string>Instant</string>
		<key>iconDesc</key>
		<string>Sprint</string>
		<key>iconName</key>
		<string>icon_PlaceHolder.png</string>
	</dict>
	<key>Move</key>
	<dict>
		<key>validations</key>
		<array>
			<dict>
				<key>type</key>
				<string>NotInCombat</string>
			</dict>
		</array>
		<key>sounds</key>
		<array>
			<dict>
				<key>frequency</key>
				<integer>2</integer>
				<key>volumeModifier</key>
				<integer>0</integer>
				<key>filePrefix</key>
				<string>battle_sounds/</string>
				<key>fileType</key>
				<string>wav</string>
				<key>mark</key>
				<string>Acknowledged</string>
				<key>count</key>
				<integer>3</integer>
				<key>fileName</key>
				<string>Told To Move </string>
			</dict>
		</array>
		<key>behavior</key>
		<string>Move</string>
		<key>hudIndicator</key>
		<string>icon_MoveMarker</string>
		<key>iconDesc</key>
		<string>Move</string>
		<key>iconName</key>
		<string>icon_WorldMap.png</string>
	</dict>
</dict>
</plist>
