<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unlocks</key>
	<array>
		<dict>
			<key>abilityName</key>
			<string>Move</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Uncategorized</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Shoot</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Uncategorized</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>2</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>levels</key>
	<array>
		<dict>
			<key>expRequired</key>
			<integer>0</integer>
			<key>upgrades</key>
			<array/>
		</dict>
	</array>
	<key>name</key>
	<string>Bowmen</string>
	<key>animations</key>
	<dict>
		<key>DeathFront</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>AttackFront</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>AttackBack</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>WalkBack</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>WalkFront</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
	</dict>
	<key>health</key>
	<integer>100</integer>
	<key>archetype</key>
	<string>RangedDefender</string>
	<key>walkingSpeed</key>
	<string>40</string>
</dict>
</plist>
