<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>expRequired</key>
			<integer>0</integer>
			<key>upgrades</key>
			<array/>
		</dict>
		<dict>
			<key>expRequired</key>
			<integer>100</integer>
			<key>upgrades</key>
			<array/>
		</dict>
		<dict>
			<key>expRequired</key>
			<integer>200</integer>
			<key>upgrades</key>
			<array/>
		</dict>
		<dict>
			<key>expRequired</key>
			<integer>300</integer>
			<key>upgrades</key>
			<array/>
		</dict>
		<dict>
			<key>expRequired</key>
			<integer>400</integer>
			<key>upgrades</key>
			<array/>
		</dict>
		<dict>
			<key>expRequired</key>
			<integer>500</integer>
			<key>upgrades</key>
			<array/>
		</dict>
	</array>
	<key>unlocks</key>
	<array>
		<dict>
			<key>abilityName</key>
			<string>Haste</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Scouting</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Rally</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Leadership</string>
			<key>cost</key>
			<integer>1</integer>
			<key>autoUnlock</key>
			<false/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Lightning</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Combat</string>
			<key>cost</key>
			<integer>1</integer>
			<key>autoUnlock</key>
			<false/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Heal</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Healing</string>
			<key>cost</key>
			<integer>1</integer>
			<key>autoUnlock</key>
			<false/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Watch</string>
			<key>tier</key>
			<integer>1</integer>
			<key>category</key>
			<string>Scouting</string>
			<key>cost</key>
			<integer>1</integer>
			<key>autoUnlock</key>
			<false/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
