<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unlocks</key>
	<array>
		<dict>
			<key>abilityName</key>
			<string>Move</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Uncategorized</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>1</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Attack</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Uncategorized</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>2</integer>
			<key>actionBarPriority</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Charge</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Uncategorized</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>2</integer>
			<key>actionBarPriority</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abilityName</key>
			<string>Flee</string>
			<key>tier</key>
			<integer>0</integer>
			<key>category</key>
			<string>Uncategorized</string>
			<key>cost</key>
			<integer>0</integer>
			<key>autoUnlock</key>
			<true/>
			<key>actionBarPosition</key>
			<integer>2</integer>
			<key>actionBarPriority</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>walkingSpeed</key>
	<string>40</string>
	<key>archetype</key>
	<string>MeleeDefender</string>
	<key>health</key>
	<integer>100</integer>
	<key>animations</key>
	<dict>
		<key>DeathFront</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>AttackFront</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>AttackBack</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>WalkBack</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>WalkFront</key>
		<dict>
			<key>frames</key>
			<integer>8</integer>
			<key>speed</key>
			<real>0.1</real>
			<key>rightAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>leftAnchor</key>
			<dict>
				<key>x</key>
				<real>0.6</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
	</dict>
	<key>sound</key>
	<dict>
		<key>death</key>
		<string>death.wav</string>
		<key>attack</key>
		<string>blade1.m4a</string>
	</dict>
	<key>name</key>
	<string>Ice Guard</string>
	<key>levels</key>
	<array>
		<dict>
			<key>expRequired</key>
			<integer>0</integer>
			<key>upgrades</key>
			<array>
				<dict>
					<key>upgradeType</key>
					<string>Automatic</string>
					<key>modifier</key>
					<dict>
						<key>combatAttribute</key>
						<integer>1</integer>
						<key>modification</key>
						<string>Temporary</string>
						<key>behavior</key>
						<string>Permanent</string>
						<key>amount</key>
						<real>-0.25</real>
						<key>attribute</key>
						<string>Resistance</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>expRequired</key>
			<integer>100</integer>
			<key>upgrades</key>
			<array>
				<dict>
					<key>modifier</key>
					<dict>
						<key>modification</key>
						<string>Permanent</string>
						<key>behavior</key>
						<string>Instant</string>
						<key>amount</key>
						<integer>-10</integer>
						<key>attribute</key>
						<string>HitPoints</string>
					</dict>
					<key>upgradeType</key>
					<string>Automatic</string>
					<key>abilityName</key>
					<string>Attack</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
